
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout</title>
    <link href="~/Areas/Admin/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Assets/css/bootstrap.theme.min.css" rel="stylesheet" />

</head>
<body>
         <div class="container">
             <h1>Mi proyecto MVC</h1>
             @RenderBody()
         </div>



    <script src="~/Areas/Admin/Assets/js/jquery.js"></script>
    <script src="~/Areas/Admin/Assets/js/bootstrap.min.js"></script>
</body>
</html>
