@model Usuario
<div id="user">
    <div class="user-container-fixed">
        <div class="user-container">
            <h1>Eduardo Rodriguez Patiño</h1>
            <img class="pic" src="~/uploads/yo.jpg" title="Eduardo Rodriguez" />
            <span class="title">Teléfono</span>
            <span class="description">+51-999-9999</span>
            <span class="title">Email</span>
            <span class="description"><a>erodriguez@anexsoft.com</a></span>
            <span class="title">Dirección</span>
            <span class="description">Av. Los Informáticos 105<br />Lima / Perú</span>
        </div>
    </div>
</div>